<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <!-- Udgivelsesmetode -->
    <WebPublishMethod>MSDeploy</WebPublishMethod>

    <!-- Azure Web App (App Service) -->
    <ResourceId>/subscriptions/e5aa6a3a-4139-4553-ac50-3266ba6f9743/resourceGroups/ToDoRewards/providers/Microsoft.Web/sites/todorewardsapi</ResourceId>
    <ResourceGroup>ToDoRewards</ResourceGroup>

    <!-- API Management (specifik API) -->
    <ApiResourceId>/subscriptions/e5aa6a3a-4139-4553-ac50-3266ba6f9743/resourceGroups/ToDoRewards/providers/Microsoft.ApiManagement/service/TodoRewardsApi/apis/TodoApi</ApiResourceId>
    <OpenApiDocumentName></OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>

    <!-- Azure publish provider -->
    <PublishProvider>AzureWebSite</PublishProvider>

    <!-- Build settings -->
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>

    <!-- Web App URL -->
    <SiteUrlToLaunchAfterPublish>https://todorewardsapi-azfcd4b9a7cyajhh.northeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>

    <!-- Deployment indstillinger -->
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>todorewardsapi-azfcd4b9a7cyajhh.scm.northeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>todorewardsapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>

    <!-- Login (hvis sat op i VS, ellers tomt) -->
    <UserName></UserName>
    <_SavePWD>false</_SavePWD>

    <!-- Destination -->
    <_DestinationType>AzureWebSite</_DestinationType>

    <!-- ASP.NET Core site extension -->
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>
